:root {
  --text-color-theme-dark: #ffffff;
  --text-color-theme-light: #757575;
  --title-text-color: #212121;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --accent-color: #2196f3;
  --focus-color: #188ce8;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-theme-light);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.portf-title,
.feature-title {
  visibility: hidden;
}

.header,
.nav,
.list-nav {
  background: var(--text-color-theme-dark);
}

.logo-nav {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-accent {
  color: var(--accent-color);
}

.list-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.list-nav-link:hover,
.list-nav-link:focus,
.list-contacts-link:hover,
.list-contacts-link:focus,
.contacts:hover,
.contacts:focus,
.map:focus,
.map:hover {
  color: var(--accent-color);
  outline: none;
}

.logo:focus,
.logo-nav:focus {
  outline: none;
}

.list-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  color: var(--text-color-theme-light);
}

.hero {
  background: var(--background-dark);
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-transform: uppercase;
  color: var(--text-color-theme-dark);
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--text-color-theme-dark);
  background: var(--accent-color);
  border: none;
  cursor: pointer;
}

.features {
  background-color: var(--text-color-theme-dark);
}

.features-title {
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-descr {
  font-size: 14px;
  line-height: 1.714;
  color: var(--text-color-theme-light);
}

.section-title {
  font-size: 36px;
  line-height: 1.167;
  color: var(--title-text-color);
}

.our-team {
  background: var(--background-light);
}

.our-team-name {
  font-size: 16px;
  line-height: 1.188;
  color: var(--title-text-color);
}

.our-team-descr {
  font-size: 16px;
  line-height: 1.188;
  color: var(--text-color-theme-light);
}

.our-team-item {
  background: var(--text-color-theme-dark);
}

/* footer style */

.footer {
  background: var(--background-dark);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--text-color-theme-dark);
}

.map {
  font-size: 14px;
  line-height: 1.714;
  color: var(--text-color-theme-dark);
  font-style: normal;
}

.contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  color: var(--contacts-color);
}

/* portfolio styles */

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.portfolio-descr {
  font-size: 16px;
  line-height: 1.875;
  color: var(--text-color-theme-light);
}

.portfolio-btn {
  font-family: inherit;
  background: var(--background-light);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--title-text-color);
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--focus-color);
  outline: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--text-color-theme-dark);
  background-color: var(--accent-color);
  outline: none;
}

.uppercase {
  text-transform: uppercase;
}
